.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: var(--secondary);
    color: var(--text-primary);
}

.app.light {
    --primary: hsl(220, 27%, 98%);
    --secondary: hsl(0, 0%, 100%);
    --secondary-hover: hsl(0, 0%, 80%);
    --text-primary: hsl(220, 17%, 32%);
    --secondary-text: hsl(211, 26%, 39%);
}
