section {
    background-color: var(--secondary);
    padding: 10rem 0;
}

section:nth-child(2n) {
    background-color: var(--primary);
}

section svg {
    color: var(--primary);
}

section h1 {
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#container {
    width: 100%;
}
